name: Build and deploy Python app to Azure Web App - proiectsincretic2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Change to project directory
        run: cd PS2

      - name: Install dependencies
        run: pip install -r PS2/requirements.txt

      - name: Archive project
        run: zip -r app.zip .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'proiectsincretic2' # Numele aplica»õiei din Azure
          slot-name: 'Production'
          package: app.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
